/* Arquivo que estiliza especificamente o "App.jsx". Usado para o layout geral da aplicação. Usa-se para:
- Container principal
- Grid/flex da página
- Espaçamento global
- Estrutura geral  */
.app{
  margin: auto; /* Centraliza */
  /* Limita a largura */
  max-width: 1200px; 
  min-width: 900px;
  padding: 16px;
  background-color: red;
}