/* Arquivo que estiliza especificamente o "App.jsx". Usado para o layout geral da aplicação. Usa-se para:
- Container principal
- Grid/flex da página
- Espaçamento global
- Estrutura geral  */
.app{
  /* Limita a largura */
  max-width: 1200px; 
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}