/* Arquivo de estilo para o arquivo "header.jsx" */
.cabecalho {
  /* Afasta o cabeçalho da borda superior */
  padding-top: 30px; 
  display: flex;
  /* Largura mínima e máxima */
  max-width: 700px;
  min-width: 500px;
  /* Espaço entre os elementos */
  gap: 150px;
}
/* Estilo do menu que escolhe as fontes */ 
select {
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
}
/* Foco */
select:focus{
    outline: none;
    border-color: #4f46e5;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.15);
}
