/* Arquivo de estilo geral da aplicação. Afeta tudo no projeto. Usado para:
- Reset de CSS
- Body, HTML
- Fonte padrão
- Cor de fundo geral
- Variáveis CSS(:root)
 */
@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: auto; /* Centraliza o body */
  max-width: 700px; /* Limita a largura */
  min-width: 500px;
  padding: 16px;
  background-color: #050505;
}
.Inter {
  font-family: 'Inter';
}
.Poppins {
  font-family: 'Poppins';
}
.Roboto {
  font-family: "Roboto";
}
.Merriweather{
  font-family: 'Merriweather';
}

