#meaning-container{
    display: flex;
    flex-direction: column;
}
.meaning{
    font-weight: normal;
    margin-bottom: 0.5em;
}
#meaning-container ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 1.3em;
    margin-bottom: 1.5em;
}
ul li::marker{
    color: #ff6a00;
}
.synonyms{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}
.synonyms p{
    color:  #757575;
    font-size: 1.7em;
}
.synonyms li{
    list-style-type: none;
    color: #ff6a00;
    font-size: 1.2em;
    align-self: center;
    cursor: pointer;
}