.palavra{
    display: grid;
    width: 100%;
}
#palavra_pesquisada{
    grid-area: 1 / 1;
    font-size: 4em;
    margin-bottom: 10px;
}
#transcricao_fonetica{
    grid-area: 2 / 1;
    color: #A445DE;
    font-size: 1.5em;
}
img{
    grid-area: 1 / 2;
    justify-self: end;
    align-self: center;
    cursor: pointer;
}