#word-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#word-header{
    display: grid;
    width: 100%;
}
#searched-word{
    grid-area: 1 / 1;
    font-size: 4em;
    margin-bottom: 10px;
    align-self: center;
}
#phonetic-transcription{
    grid-area: 2 / 1;
    color: #A445ED;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
}
img#play-button{
    grid-area: 1 / 2;
    justify-self: end;
    align-self: center;
    cursor: pointer;
}
div#part-of-speech-container{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
}
#part-of-speech{
    grid-area: 1 / 1;
    font-size: 1.7em;
    font-weight: bold;
}
div#line{
    grid-area: 1 / 2;
    align-self: center;
    font-size: 2.2em;
    height: 1px;
    background-color: #2A2A2A;
}
